/* Mobile adjustments - WIP */
/* @media only screen and (max-device-width: 768px) {
    .designsForSale {
      display:flex;
      flex-direction: column;
    }
    .designCardWrapper {
      margin-bottom: 25px;
    }
  } */

/* Variables & Resets */
:root {
  --primaryBG: rgb(129, 46, 60);
  --navBG: rgb(177, 67, 85);
  --accentFrame: rgb(198, 132, 77);
  --accentGreen: rgb(194, 197, 180);
  --bannerCardBG: rgb(227, 158, 173);
  --navHeight: 175px;
  --footerBG: rgb(46, 46, 46);
  --fontColor_Primary: rgb(200, 200, 200);
  --fontColor_Secondary: rgb(35, 35, 35);

  --primaryFF: ;
  --secondaryFF: ;

  --shadowBox: 0 0 10px black;
  --shadowBoxLight: 0 0 7px rgb(135, 135, 135);
  --shadowText: 2px 2px 5px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--primaryBG);
  height: 100%;
}

/* Begin Nav */
.navBar {
  width: 100%;
  height: var(--navHeight);
  background: var(--navBG);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}

.logoWrapper {
  height: var(--navHeight);
  min-width: 350px;
  display: flex;
  position: relative;
}

.logo {
  height: var(--navHeight);
  margin-left: 10px;
  display: flex;
}

.logoText {
  position: absolute;
  top: 100px;
  left: 100px;
  color: var(--fontColor_Primary);
  text-shadow: var(--shadowText);
}

.menu {
  width: 450px;
  height: 100%;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: space-between;
}

.menu ul {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: var(--primaryBG);
  border-radius: 50%;
  border: 5px solid var(--accentFrame);
}

.menu ul:hover {
  background-color: var(--navBG);
}

/* End Nav / Begin Body */
.designsForSale {
  width: 100%;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  align-items: center;
  justify-content: space-evenly;
}

.designCardWrapper {
  border-radius: 15px 15px 5px 5px;
  box-shadow: var(--shadowBox);
}

.designCardTop {
  height: 300px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
  background-color: rgb(56, 56, 56);
}

.designCardTop img {
  max-width: 225px;
  max-height: 275px;
}

.designCardBottom {
  min-height: 150px;
  width: 250px;
  padding: 5px 5px 5px 5px;
  color: var(--fontColor_Primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-radius: 0 0 5px 5px;
  background-color: rgb(39, 39, 39);
}

.designCardBottom p {
  font-size: 1.25rem;
}

.designBTN {
  width: 175px;
  height: 30px;
  border-radius: 5px;
  border: none;
  text-align: center;
  box-shadow: var(--shadowBoxLight);
  background-color: var(--bannerCardBG);
}

.designBTNSplit {
  width: 80px;
  height: 30px;
  margin: 0 5px 0 5px;

  border-radius: 5px;
  border: none;
  box-shadow: var(--shadowBoxLight);
  background-color: var(--bannerCardBG);
}

.designBTN:hover,
.designBTNSplit:hover {
  color: var(--fontColor_Primary);
  background-color: var(--navBG);
}

.campaign {
  height: 50px;
  width: 100%;
  margin: 15px 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dividerBar {
  width: 70%;
  height: 40px;
  font-size: 1.5rem;
  color: var(--fontColor_Secondary);
  background-color: var(--bannerCardBG);
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 2px var(--fontColor_Primary);
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: var(--shadowBox);
}
